---
sudo: false
language: ruby
rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5.1
  - 2.5.3
  - 2.6
  - jruby-9.0.5.0
  - jruby-9.1.16.0
matrix:
  include:
    - rvm: 2.4
      os: osx
before_install: gem install bundler -v 1.17.2
